//flex布局的复用
@mixin flex($hov:space-between,$col:center) {
  display: flex;
  justify-content: $hov;
  align-items: $col;
}

//图标的插入：比如购物车图标，logo
//将图标的位置设置为a标签，然后转为inline-block
@mixin bgImg($w:0,$h:0,$img:'',$size:contain){
  display: inline-block;
  width: $w;
  height: $h;
  background: url($img) no-repeat center;
  background-size: $size;//默认完全填充
}

@mixin position($pos:absolute,$top:0,$left:0,$w:100%,$h:100%){
  position:$pos;
  top:$top;
  left:$left;
  width:$w;
  height:$h;
}

@mixin positionImg($pos:absolute,$top:0,$right:0,$w:0,$h:0,$img:'') {
  position: $pos;
  top:$top;
  right:$right;
  width:$w;
  height: $h;
  background: url($img) no-repeat center;
  background-size: contain;
}
@mixin border($bw:1px,$bc:$colorF,$bs:solid) {
  border: $bw $bs $bc; 
}
@mixin height($h:0,$lh:$h) {
  height: $h;
  line-height: $lh;
}
@mixin wH($w:0,$h:0) {
  width:$w;
  height: $h;
}